body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
#home-anim {
  position: fixed;
  width: 1907px;
  height: 1080px;
  /* width: 1907px;
  height: 1080px; */
  max-width: none;
  top: 0;
  /* left: -8rem; */
}
/* svg {
  overflow: hidden;
} */
#svg-home {
  -webkit-clip-path: url(#cache);
  clip-path: url(#cache);
}
#svg-home #red {
  fill: none;
  opacity: 0.15;
  stroke: #ce1b5f;
  stroke-width: 12;
  stroke-miterlimit: 10;
  -webkit-animation: show-bg 4s;
  animation: show-bg 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#svg-home #blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  -webkit-animation: show-bg 4s;
  animation: show-bg 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#svg-home #light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  -webkit-animation: draw-bg 4s;
  animation: draw-bg 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes draw-bg {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-bg {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes show-bg {
  0%,
  100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
}
@keyframes show-bg {
  0%,
  100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
}
